# Edge Impulse build artefacts
*.zip

# TensorBoard logs and other large exports
tensorboard/
*.h5
*.pb

# OS junk
Thumbs.db
desktop.ini
.DS_Store

# Arduino build output
build/
*.hex
*.elf

# scratch
scratch/
_to_delete/
